body {
    display: flex;
    justify-content: center;
    margin: 50;
    background-color: rgb(255, 255, 255);
    background-size:400 ;
}

section {
    width: 600px;
    border-style: groove;
    border-color: rgb(133, 124, 124);
    margin: 100px;
    padding: 100px;
    border-radius: 0px;
    background-color: rgb(255, 254, 253);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#btnCalcular {  
    margin: 5px;
    border-radius: 5px;
}